#!/bin/sh

# {{ ansible_managed }}

exec {{ concourse_install_dir }}/concourse worker \
  --tsa-host "{{ concourse_tsa_host }}" \
  --tsa-public-key "{{ concourse_tsa_public_key_path }}" \
  --tsa-worker-private-key "{{ concourse_tsa_worker_key_path }}" \
  --work-dir "{{ concourse_work_dir }}" \
{% if concourse_worker_tag is defined %}
  --tag "{{ concourse_worker_tag }}" \
{% endif %}
{% if concourse_log_level is defined %}
  --log-level "{{ concourse_log_level }}" \
{% endif %}
{% if concourse_garden_docker_registry is defined %}
  --garden-docker-registry "{{ concourse_garden_docker_registry }}" \
{% endif %}
{% if concourse_worker_options is defined %}
  {{ concourse_worker_options }}
{% endif %}
  ;
