# {{ ansible_managed }}

[Unit]
Description=concourse-worker
Requires=network-online.target
After=network-online.target

[Service]
TasksMax=infinity
LimitNOFILE=infinity
LimitMEMLOCK=infinity
Restart=on-failure
{% for env_var_name, env_var_value in concourse_worker_env_vars.items() %}
Environment={{ env_var_name }}={{ env_var_value }}
{% endfor %}
ExecStart={{ concourse_worker_launcher_path }}
{% if concourse_worker_land_on_stop %}
ExecStop={{ concourse_worker_land_path }}
{% elif concourse_worker_retire_on_stop %}
ExecStop={{ concourse_worker_retire_path }}
{% endif %}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
